<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <h4 class="text-center"> Riders are waiting for your pimped car, list it! </h4>
     <%= render 'form' %>
    </div>
  </div>
</div>
