// Define variables for your color scheme

// For example:
$red: #E76F51;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #EF6C35;
$green: #14CC60;
$gray: #000000;
$light-gray: #F2F2F2;
$dark-gray: #222831;
