// Define variables for your color scheme
$dark-gray: #222831;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FF5200;
$green: #32B796;
$gray: #393E46;
$light-gray: #F2F2F2;
