<div class="container">
  <div class="row">
    <!-- Method call (defined has helper) to display or not the user bookings  -->
     <% if @bookings.empty? %>
     <% else %>
      <%= render partial: "user_bookings" %>
      <% end %>
  </div>
  <div class="row">
    <!-- Method call (defined has helper) to display or not owner bookings  -->
    <!-- Iteration on @cars to access each car and check if this car has been booked -->
    <% @cars.each do |car| %>
      <% if car.bookings.empty? %>
      <% else %>
          <%= render partial: "owner_bookings" %>
      <% end %>
    <% end %>
  </div>
</div>
