<div class="container">
  <div class="row">
    <%= display(@bookings, "user_bookings") %>
  </div>
  <div class="row">
    <% @cars.each do |car| %>
      <%= display(car.bookings, "owner_bookings") %>
    <% end %>
  </div>
</div>
