<menu class="Menu">
  <li class="Menu-item" id="btn-1">Rent</li>
  <li class="Menu-item" id="btn-2">my</li>
  <li class="Menu-item" id="btn-3">PIMPED</li>
  <li class="Menu-item" id="btn-4">Car</li>
</menu>

<div class="pattern"></div>

<ul>
  <li class="Video" id="video-1">
    <video autoplay loop id="video-background" muted>
      <source src="http://440design.info/codepen/Cloudytime/Cloudytime.mp4" type="video/mp4">
    </video>
  </li>
  <li class="Video" id="video-2">
    <video autoplay loop id="video-background" muted>
      <source src="http://440design.info/codepen/Cloudytime/Cloudytime.mp4" type="video/mp4" type="video/mp4">
    </video>
  </li>
  <li class="Video" id="video-3" link_to "PimpedCars", pimped_car_path>
    <video autoplay loop id="video-background" muted>
      <source src="http://res.cloudinary.com/dw5ekt0rf/video/upload/v1502966890/I%CC%87KAS_TEASER_TANITIM_yfy1yw.mp4" type="video/mp4">

    </video>
  </li>
  <li class="Video" id="video-4">
    <video autoplay loop id="video-background" muted>
      <source src="http://440design.info/codepen/Cloudytime/Cloudytime.mp4" type="video/mp4">
    </video>
  </li>
</ul>
