.status-box {
  padding-bottom: 20px;
}

.status {
  color: orange;
}

.booking-info {
  margin: 20px;
  padding: 5px 0 18px 0;
}

.booking-date-infos {
  display: flex;
  justify-content: space-between;

}

.backlink {
  padding-top: 20px
}
