
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.message {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.message-title {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.message-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.message-meta {
  min-width: 50px;
  p {
  margin-bottom: 0px;
  }
}
.message-details {
  width: 250px;
  text-align: left;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 0px;
}
.message-name .title {
  min-width: 90px;
}

.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  p {
    padding-right: 20px;
    margin-bottom: 0px;
    min-width: 100px;
  }

}
.message-status.title p {
  text-align: left;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.pending {
  color: orange;
}
.pending a {
  text-decoration: none;
  color: orange;
  }

.pending a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
.owner-cars {
  margin: 30px 0;
}
.car-list {
  margin: 30px 0;
}
.title {
  font-weight: bold;
  font-size: 13px;
  color: black;
}
.title p {
  font-weight: bold;
  font-size: 13px;
  color: black;
  opacity: 1;
  text-align: center;
}

.bouton {
  margin: 0 10px;
}
.price {
  margin-left: 10px;
}

.mobile {
  display: none;
}

@media (max-width: 995px) {
  .message-body {
    display: none;
  }
  .user-details {
    flex-grow: 1;
  }
  .message-status p {
    text-align: center;
  }
  .message-status.title p {
    text-align: center;
  }
  .boutons {
    display: flex;
    flex-direction: column;
  }
  .bouton {
    font-size: 10px;
    margin-top: 3px;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .mobile {
    display: block;
    padding-left: 5px;
  }
  .desktop {
    display: none;
  }
  .user-details {
    padding-left: 5px;
  }
  .message {
    padding: 20px 10px;
  }
  .message-name {
    min-width: 30px;
  }
  .message-status p {
    padding-right: 20px;
    margin-bottom: 0px;
    min-width: 72px;
    text-align: center;
    font-size: 13px
  }
   .message-status.title p {
    padding-right: 20px;
    margin-bottom: 0px;
    min-width: 72px;
    text-align: center;
    font-size: 13px
  }

}
