.list-title {
  display: flex;
  justify-content: space-between;
  li {
    font-weight: bolder;
    font-size: 17px;
  }
}

.list-information {
  display: flex;
  justify-content: space-between;
  li {
  }
}
