.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  display: flex;
  margin-top: 20px;
  padding: 0;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  position: relative;
  }

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card-details {
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  padding: 10px 10px 5px 10px;

  h4 {
  font-size: 18px;
  }
  p {
    font-size: 1em;
    opacity: 0.7;
    font-weight: lighter;
    content: justify;
  }
}

.card-description {
  width: 100%;
  flex: 1 1 auto;
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 50px;
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.card-name {
  width: 85%;
  color: #474747;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card-price {
  position: absolute;
  right: 20px;
}

.card-footer {
  height: 100px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin-bottom: -75px;
  width: 360px;
}


.card-footer-shown{
  transition: all .6s ease;
  opacity: 1;
  bottom: 0px;
  margin-bottom: 0px;

}



// .card :hover .card-footer{
//   opacity: 1;
//   margin-bottom: 75px;
// }

// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 8px;
//   text-transform: uppercase;
// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
//   border-radius: 50%;
// }

