.card-link {
  text-decoration: none;
  a {
  text-decoration: none;
  }
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 8px;
  text-transform: uppercase;
}
.card-description {
padding: 0 8px;

}
.card-description h4 {
  font-size: 18px;
}

.name h4 {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-info {
  display: flex;
  justify-content: space-between;
}


