.footer-home {
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-home-links {
  display: flex;
  align-items: center;
}
.footer-home-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-home-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
