.banner {
  position: relative;
}

.promo_box {
  text-align: center;
  background-color: white;
  top: 0px;
  right: 0px;
  border-radius: 5px;
  border: 1px solid $red;
  margin-bottom: 10px;
}


.timer {
  background-color: $red;
  color: white;
  border: 1px solid $red;
  padding: 5px;
  font-size:larger;

}

#discount {
font-size: 30px;
color: $red;
font-weight:bolder;
}
