.banner {
  position: relative;
}

.promo_box {
  text-align: center;
  background-color: white;
  width: 120px;
  position: absolute;
  bottom: 0px;
  right: 90px;
  width: 320px;
  border-radius: 5px;
  border: 1px solid #E76F51;
}


.timer {
  background-color: #E76F51;
  color: white;
  border: 1px solid #E76F51;
  padding: 5px;
  border-radius: 5px;
  font-size:larger;

}

#discount {
font-size: 30px;
color: #F98E90;
font-weight:bolder;
}
